
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Shared Activity</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="flex items-center justify-center flex-col">
<!--  <app-daily-summary [session]="uncomm()" />-->
    <app-workout-details [session]="uncomm()"/>
  </div>
</ion-content>
<!--<div class="p-5">-->
<!--  <a matButton (click)="load()">Load this daily activity</a>-->
<!--</div>-->

