<ion-modal [isOpen]="open()" [canDismiss]="canDismiss" (willDismiss)="onWillDismiss($event)"  [initialBreakpoint]="1" [breakpoints]="[0, 0.25, 0.5, 0.75, 1]" >
  <ng-template>

    <ion-header>
      <ion-toolbar>
        <ion-title>Add activity</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closed.emit(true);">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content fullscreen="true">
      <div class="ion-padding">
            <h2 class="ion-text-center">- {{activity().exercise.name}} -</h2>
            <h3 class="ion-text-center">{{ activity().created | date}} </h3>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-input label="REPS" label-placement="floating" fill="outline" inputmode="numeric" placeholder="#" [(ngModel)]="reps"></ion-input>
            </ion-col>
            @if (activity().hasSize) {
            <ion-col>
              <ion-input label="WEIGHT (KG)" label-placement="floating" fill="outline" inputmode="decimal" placeholder="#" [(ngModel)]="kgs" ></ion-input>
            </ion-col>
            }
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button color="light" expand="full" (click)="addSet(reps,kgs)">Add Set</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <app-show-sets [sets]="activity().sets"/>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <!-- History -->
      <div class="ion-padding">
        <app-ex-history [id]="activity().id"/>
      </div>

      <!-- Comment-->
      <ion-item class="ion-padding">
        <ion-textarea
          [ngModel]="getNote()"
          (ngModelChange)="setNote($event)"
          label="Comments"
          labelPlacement="floating"
          rows="5">
        </ion-textarea>
      </ion-item>

    </ion-content>

  </ng-template>
</ion-modal>
