<div class="flex flex-col items-center w-400px">
  @if (sessions()){
    @for (session of sessions(); track $index){
      <div [routerLink]="['/session']" [queryParams]="{id: $index}">
        {{session?.created | date:"dd-MM-yyyy"}}
      </div>
      @for (activity of session?.activities; track activity.id) {
        <div>
          [{{ activity.exercise.name }}] started at {{ activity.created| date:"HH:mm"}} number of sets: <span>{{ activity.sets.length }}</span>
        </div>
      }

    }
  }@else {
    <div> no data </div>
  }

</div>

