.selected-chip {
  background-color: var(--ion-color-warning);
  color: black;
}

//ion-col {
//  background-color: #135d54;
//  border: solid 1px #fff;
//  color: #fff;
//  text-align: center;
//}

.unread-indicator {
  background: var(--ion-color-primary);

  width: 10px;
  height: 10px;

  border-radius: 100%;

  position: absolute;

  inset-inline-start: 12px;
  top: 12px;
}

.metadata-end-wrapper {
  position: absolute;

  top: 10px;
  inset-inline-end: 10px;

  font-size: 1rem;

  display: flex;
  align-items: center;
}

ion-label strong {
  display: block;

  max-width: calc(100% - 60px);

  overflow: hidden;

  text-overflow: ellipsis;
}

ion-label ion-note {
  font-size: 0.9rem;
}

.block {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: start;
  justify-content: center;
}

ion-modal {
  --height: auto;
}

.label-color-border {
  padding-left: 10px;
  border-left: 5px solid var(--ion-color-warning);
  //border-radius:  10px 0 0 10px;
}
