<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Active Workout Session</ion-title>

    @if (appState().current?.activities?.length??0>0){
    <ion-buttons slot="end">
      <ion-button id="present-alert">
        <ion-icon size="large" color="danger" name="stop-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
      <ion-alert
        trigger="present-alert"
        header="Stop Active Workout?"
        message="Older workout sessions can be found in the history tab."
        [buttons]="alertButtons"
        (didDismiss)="delete213($event)"
      ></ion-alert>
    }

  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

<!--  Tips -->
  <app-session-tips/>

  @if (appState().current?.activities?.length??0>0){
<!-- Header -->
    <div class="about-session">
      <h3 class="ion-padding">Workout session started</h3>
    </div>
<!-- Chips -->
    <div class="ion-text-center ion-padding-bottom">
        @for (item of items; track item) {
          <ion-chip
            [class] = "item === selectedItem ? 'selected-chip' : ''"
            (click)="chipClick(item)">
            <ion-label>{{ item }}</ion-label>
          </ion-chip>
        }
    </div>
  }
<!-- Activities -->
  @for (activity of appState().current?.activities; track $index) {
    @let ex = findEx(activity);
    <ion-list inset="true" style="border-right: 5px solid var(--ion-color-warning)">
      <ion-item-sliding #sliding>
<!--        <ion-item lines="full" [routerLink]="['/work/'+activity.id]" >-->
        <ion-item button="true"  class="label-color-border" lines="full" (click)="modalRedirect(activity.id)" >
          <ion-label [style.border-left-color]="ex?.color">
            <strong class="ion-text-capitalize">#{{$index+1}} {{activity.exercise.name}}</strong>
            <ion-text color="medium">- {{activity.exercise.name}} -</ion-text>
          </ion-label>
<!--          <div class="metadata-end-wrapper" slot="end">-->
<!--            <ion-note color="medium">{{ activity.created | date:'HH:mm' }}</ion-note>-->
<!--            <ion-icon color="medium" name="chevron-forward"></ion-icon>-->
<!--          </div>-->
<!--            <div slot="end">-->
<!--              <ion-icon color="medium" name="chevron-forward"></ion-icon>-->
<!--            </div>-->
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option
            color="danger"
            (click)="delete(activity,sliding)">
            Delete</ion-item-option>
          <ion-item-option
            [routerLink]="['/exercise/'+activity.id]"
            (click)="sliding.close()"
            color="warning">More</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

    @if (activity.sets.length > 0){
        <ion-item>
          <app-show-sets style="width: 100%" [activity]="activity" />
        </ion-item>
    }
    </ion-list>
  }

<!--Session Comment-->
  @if (appState().current?.activities?.length ?? 0 > 0){
    <ion-list inset="true" style="border-right: 5px solid var(--ion-color-medium)">
      <ion-item-sliding >
        <ion-item button="true" (click)="modalCommentsSetOpen.set(true)" >
          <ion-label> Session/Workout Notes  </ion-label>
        </ion-item>
      </ion-item-sliding>
      @if(appState().current?.note?.length ?? 0 > 0){
        <ion-item>
          <ion-text color="medium"><small>{{appState().current?.note}} </small></ion-text>
        </ion-item>
      }
    </ion-list>
  }

<!--   No Session -->
  @if ( (appState().current?.activities?.length ?? 0) === 0){
    <div
      class="ion-display-flex ion-justify-content-center ion-align-items-center"
      style="height:80%">
      <div class="ion-text-center ion-padding">
        <h2>No Active Workout Session</h2>
        <p>
          <ion-note class="ion-text-capitalize" color="warning">
            Start workout session by adding exercise
          </ion-note>
        </p>
      </div>
    </div>
  }
</ion-content>

<ion-footer>
  <app-modal-exercises/>
</ion-footer>

<app-modal-sets [activity]="modalSetActivity()" [open]="modalSetOpen()" (closed)="modalClosed()"/>
<app-modal-description [open]="modalCommentsSetOpen()" (closed)="modalCommentClosed()" />

<!--  <ion-modal-->
<!--    [isOpen]="openModal()"-->
<!--    (didDismiss)="openModal.set(false)"-->
<!--    [initialBreakpoint]="1"-->
<!--    [breakpoints]="[1, 0.75]"-->
<!--    handleBehavior="cycle">-->
<!--    <ng-template>-->
<!--      <div class="block">-->
<!--        <app-exercise-sets [id]="viewId" />-->
<!--      </div>-->
<!--    </ng-template>-->
<!--  </ion-modal>-->
