<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Active Workout</ion-title>

    @if (appState().current?.activities?.length??0>0){
    <ion-buttons slot="end">
      <ion-button id="present-alert">
        <ion-icon size="large" color="danger" name="stop-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
      <ion-alert
        trigger="present-alert"
        header="Stop Active Workout?"
        message="Older workout sessions can be found in the history tab."
        [buttons]="alertButtons"
        (didDismiss)="delete213($event)"
      ></ion-alert>
    }

  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  @if (appState().current?.activities?.length??0>0){

  <div class="about-session">
    <h3 class="ion-padding">Workout session started</h3>

<!--    <ion-label color="default" class="ion-padding-start ion-padding-end">-->
<!--      "Workout sessions are beneficial because they improve physical health,
boost mental well-being, increase energy, and enhance overall quality of life!" - ChatGPT-->
<!--    </ion-label>-->

    <p class="ion-padding-start ion-padding-end">
      <ion-label color="warning">Tip #1: </ion-label> Click on the Exercise to add activity
    </p>
    <p class="ion-padding-start ion-padding-end">
      <ion-label color="warning">Tip #2: </ion-label> Swipe left to delete/remove Exercise
    </p>
  </div>

  <div class="ion-text-center ion-padding-bottom">
      @for (item of items; track item) {
        <ion-chip
          [class] = "item === selectedItem ? 'selected-chip' : ''"
          (click)="chipClick(item)">
          <ion-label>{{ item }}</ion-label>
        </ion-chip>
      }
  </div>
  }

  @for (activity of appState().current?.activities; track $index) {

    <ion-list inset="true">
      <ion-item-sliding #sliding>
        <ion-item lines="full" [routerLink]="['/work/'+activity.id]" >
<!--        <ion-item lines="full" (click)="redirect(activity.id)" >-->
          <ion-icon aria-hidden="true" name="timer-outline" slot="start"/>
          <ion-label>
            <strong class="ion-text-capitalize">#{{$index+1}} {{activity.exercise.name}}</strong>
            <ion-text color="medium">- {{activity.exercise.name}} -</ion-text>
          </ion-label>
<!--          <div class="metadata-end-wrapper" slot="end">-->
<!--            <ion-note color="medium">{{ activity.created | date:'HH:mm' }}</ion-note>-->
<!--            <ion-icon color="medium" name="chevron-forward"></ion-icon>-->
<!--          </div>-->
        </ion-item>
        <ion-item-options side="start">
          <ion-item-option  (click)="addSet(activity.id, sliding)"
            color="warning">Add</ion-item-option>
          <ion-item-option
            [routerLink]="['/exercise/'+activity.id]"
            (click)="sliding.close()"
            color="primary">View</ion-item-option>
        </ion-item-options>
        <ion-item-options side="end">
          <ion-item-option
            color="danger"
            (click)="delete(activity,sliding)">
            Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-list lines="full" inset="true">
      @for (i of activity.sets; track $index){
        <ion-item>
          <ion-label color="secondary"> <sub>{{ i.time| date:'HH:mm' }} </sub>
<!--            DELTA-->
<!--            <ion-text color="warning"><sub>[+9]</sub></ion-text>   -->
          </ion-label>
          <ion-label color="tertiary"> set {{ $index + 1 }} </ion-label>
          <ion-label color="tertiary">
            {{i.reps}}
            @if (activity.hasSize) {
              {{'x ' + i.size}}{{activity.exercise.weightUnit}}
            }
          </ion-label>
        </ion-item>
      }

    </ion-list>
  }

<!--Activity Comment-->
  @if (appState().current?.activities?.length??0>0){
    <ion-list [inset]="true">
      <ion-item>
        <ion-textarea
          (ionChange)="change($event)"
          [value]="appState().current?.note"
          label="Comments"
          labelPlacement="floating"
          rows="5">
        </ion-textarea>
      </ion-item>
    </ion-list>
  }


  @if ( (appState().current?.activities?.length ?? 0) === 0){

    <div
      class="ion-display-flex ion-justify-content-center ion-align-items-center"
      style="height: 100%">
      <ion-label class="ion-text-center">
        <ion-note>No Active Workout</ion-note>
        <p>
          <ion-note class="ion-text-capitalize" color="warning">
            Start workout session. Add Exercise from side menu.
          </ion-note>
        </p>
      </ion-label>
    </div>
  }

  <ion-modal
    [isOpen]="openModal()"
    (didDismiss)="openModal.set(false)"
    [initialBreakpoint]="1"
    [breakpoints]="[1, 0.75]"
    handleBehavior="cycle">
    <ng-template>
      <div class="block">
        <app-exercise-sets [id]="viewId" />
      </div>
    </ng-template>
  </ion-modal>

</ion-content>

