@import "tailwindcss";
input,
button,
select,
textarea {
  font: inherit;
}

form {
  display : grid;
  gap: 1rem;

  //@media (width > 720px) {
  //  grid-template-columns: 1fr 1fr;
  //}
}

.form-group {
  display: grid;
  gap: 0.5cap;
}

label {
  text-transform: uppercase;
  font-size: 1rem;

  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
}

input {
  background: var(--accent);
  color: var(--text-1);
  border: var(--border);
  border-radius: 16px;
  padding: 1ex 2ex;

  accent-color: var(--accent);
}

input:not([type="checkbox"], [type="radio"]) {
  width: 100%;
}

.form-group:has(.fine-print) {
  grid-column: 1 / -1;

  display: flex;
  gap: 0.5ch;
}

.contact-form button {
  grid-column: 1 / -1;
  justify-self: end;
}

/* general styling */
:host {
  --surface-0: hsl(229, 41%, 5%);
  --surface-1: hsl(229, 25%, 12%);
  --surface-2: hsl(234, 26%, 16%);
  --text-1: hsl(229, 12%, 100%);
  --text-2: hsl(229, 12%, 66%);
  --required: hsl(321, 32%, 56%);
  --accent: hsl(260, 76%, 58%);
  --border: 1px solid hsl(229, 22%, 19%);
}

:host {
  box-sizing: border-box;
  margin: 0;
}

:host {
  font-family: "Radio Canada", sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;

  //background-color: var(--surface-0);
  color: var(--text-1);
  //padding-block-start: 10vb;
}

h1 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1;
}

a {
  color: hsl(from var(--accent) h s 80%);
}

label {
  text-transform: uppercase;
  font-size: 1rem;
}

.fine-print {
  font-size: 0.925rem;
  text-transform: revert;
  line-height: 1.4;
}

.contact-form {
  display: grid;
  gap: 1rem;

  background-color: var(--surface-1);
  padding: 1.5rem;
  border-radius: 24px;
  width: min(100% - 4rem, 1200px);
  margin-inline: auto;

  max-width: 400px;
}

button {
  cursor: pointer;
  background-color: var(--accent);
  color: var(--text-1);
  padding: 0.5em 1em;
  border: 0;
  border-radius: 16px;

  &:hover,
  &:focus-visible {
    background-color: hsl(from var(--accent) h s 30%);
  }
}

.button-container {
  overflow-x: auto; /* or scroll */
  white-space: nowrap; /* Prevents buttons from wrapping to the next line */
  scrollbar-width: none;
}
mat-button-toggle{
  //font-size: 1rem;
  padding: 2px 8px;
}
