.wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(70px,250px));
  gap: 10px;
  //place-items: center; /* Shorthand for align-items: center; and justify-items: center; */
  //align-items: center;
}
.exercise{
  height: 50px;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .wrapper {
    //display: grid;
    grid-template-columns: repeat(2, minmax(135px,250px));
    //grid-auto-rows: auto;
    //gap: 5px;
    //row-gap: 15px;
  }
}

.summary-exercise{
  cursor: pointer;
}
