<!--List Exercises-->
<div class="wrapper">
  @for (item of service.exercises; track $index) {
    <div routerLink="/{{item.id}}">
      <div class="flex items-center justify-center border-2 border-amber-200 bg-amber-800 h-20">
        {{item.name}}
      </div>
    </div>
  }
</div>

<!--Summary-->
<div class="flex items-center justify-center flex-col">
@for (item of service.appState.daily.exercises; track $index) {
  <div class="border-2 border-amber-800 p-2 m-2 w-70">
    <div class="font-black">{{item.name}}</div>
    @for (i of item.sets; track $index){
      <ul>
        <li>{{i.reps}} x {{i.size}} </li>
      </ul>
    }
  </div>
}
</div>

<!--Add to Calendar-->
<div class="flex items-center justify-center">
  <add-to-calendar-button
    name="Gym"
    options="'Apple','Google'"
    location="Gym"
    startDate="today"
    endDate="today"
    [attr.startTime]="getTime()??''"
    [attr.endTime]="getTimeLater()??''"
    [attr.description]="getDesc()??''"
    [attr.timeZone]="timeZone??''"
  >
  </add-to-calendar-button>
</div>


