@if (histActivities().length > 0){
<ion-grid [fixed]="true">
  <ion-row class="ion-justify-content-center">
    <h2><ion-label color="medium"> Activity History </ion-label> </h2>
  </ion-row>
  @for (activityEx of histActivities(); track activityEx;let i = $index) {
    <ion-row class="ion-justify-content-center">
      <!-- Header-->
      <ion-col size="6" class="ion-text-center">
        <ion-label color="secondary">#{{activityEx.activityNumberInSession }} on {{activityEx.activity.created | date:'EEE, dd MMM'}} </ion-label>
        <div><a style="cursor: pointer" (click)="clickToNavigateToExerciseDetails(activityEx.sessionHistoryIndexId ?? -1)">link to history</a></div>
      </ion-col>
    </ion-row>
    @for (set of activityEx?.activity?.sets; track $index){
      <ion-row class="ion-justify-content-center">
        <!-- Time -->
        <ion-col size="3" class="ion-text-center">{{set.time | date:'HH:mm'}}</ion-col>
        <!-- Delta-->
        <ion-col size="3" class="ion-text-center">
        @if ($index == 0 && activityEx.prevActivity === null){
          /
        }
        @else if ($index == 0){
          {{
            service.diff(
              activityEx.activity.sets[$index].time,
              activityEx.prevActivity!.sets.at(-1)!.time)
          }} min
        }
        @if ($index > 0){
          {{
            service.diff(
              activityEx.activity.sets[$index].time,
              activityEx.activity.sets[$index-1].time)
          }} min
        }
        </ion-col>
        <!--  Set      -->
        <ion-col size="4" class="ion-text-center">{{set.reps}} {{checkSize(set.size)}}</ion-col>
      </ion-row>
    }
    @if (activityEx.activity.note && activityEx.activity.note.length > 0){
      <ion-row>
        <ion-col class="ion-text-center">
          Comment: <ion-text color="medium">{{activityEx.activity.note }}</ion-text>
        </ion-col>
      </ion-row>
    }

  }
</ion-grid>
}
