<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Exercise details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (activity() != null){

    <div class="about-header">
      <div class="about-image ion-display-flex ion-justify-content-center ion-align-items-center"
           [ngStyle]="{'opacity': '1'}"
           [class] = "activity()?.exercise?.color??''">
        <h1>- {{ activity()?.exercise?.name }} -</h1>
      </div>
    </div>

    <div class="about-info">

      <div class="ion-padding-top ion-padding-start ion-padding-end">
<!--        <ion-label class="ion-text-center">-->

<!--          <p>todo: add exercise details</p>-->
<!--          <p> unit: {{activity()?.exercise?.weightUnit}}</p>-->
<!--          <p *ngIf="(activity()?.exercise?.weightOptions?.length??0) > 0"> Weights:</p>-->
<!--          <p *ngIf="(activity()?.exercise?.weightOptions?.length??0) > 0">-->
<!--            <sub>@for (item of activity()?.exercise?.weightOptions; track item) {-->
<!--              | {{item}}-->
<!--            }|</sub>-->
<!--          </p>-->
<!--          <p> Repeat:</p>-->
<!--          <p>-->
<!--            <sub>|@for (item of activity()?.exercise?.repeatOptions; track item) {-->
<!--              {{item}} |-->
<!--            }</sub>-->
<!--          </p>-->
<!--          <p> Color: {{activity()?.exercise?.color}}</p>-->
<!--          <p> Description:</p>-->
<!--          <p>{{activity()?.exercise?.description}}</p>-->

<!--        </ion-label>-->

        <h3>Exercise Details</h3>

        <ion-list lines="none">
          <ion-item>
            <ion-select
              label="Category"
              [(ngModel)]="category"
              [interfaceOptions]="selectCategory"
            >
              <ion-select-option value="chest">Chest Day</ion-select-option>
              <ion-select-option value="back">Back Day</ion-select-option>
              <ion-select-option value="shoulders">Shoulders</ion-select-option>
              <ion-select-option value="push">Push Day</ion-select-option>
              <ion-select-option value="pull">Pull Day</ion-select-option>
              <ion-select-option value="leg">Legs</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label> Color </ion-label>
            <ion-label class="ion-text-end">
              {{activity()?.exercise?.color}}
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-select label="Weights">
              @for (item of activity()?.exercise?.weightOptions; track item) {
                <ion-select-option value="{{item}}">{{ item }}</ion-select-option>
              }
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label> Weight Unit</ion-label>
            <ion-label class="ion-text-end">
              {{activity()?.exercise?.weightUnit}}
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-select label="Repeats">
              @for (item of activity()?.exercise?.repeatOptions; track item) {
                <ion-select-option value="{{item}}">{{ item }}</ion-select-option>
              }
            </ion-select>
          </ion-item>


          <ion-item button="true" (click)="showDescModal.set(true)">
            <ion-label> Description </ion-label>
            <ion-text slot="end">
              {{ 'lorem lorem' }}
            </ion-text>
            <ion-modal [isOpen]="showDescModal()" (willDismiss)="onWillDismiss($event)">
              <ng-template>
                <ion-header>
                  <ion-toolbar>
                    <ion-buttons slot="start">
                      <ion-button (click)="cancel()">Cancel</ion-button>
                    </ion-buttons>
                    <ion-title>Welcome</ion-title>
                    <ion-buttons slot="end">
                      <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                </ion-header>
                <ion-content class="ion-padding">
                  <ion-item>
                    <ion-textarea
                      rows="20"
                      label="Enter description"
                      labelPlacement="stacked"
                      type="text"
                      placeholder="Description"
                      [(ngModel)]="name"
                    ></ion-textarea>
                  </ion-item>
                </ion-content>
              </ng-template>
            </ion-modal>
          </ion-item>

        </ion-list>
      </div>

    </div>
  }
</ion-content>


<ion-footer>
  @if (activity() != null){
  <ion-toolbar>
    <ion-button slot="start" router-direction="back"  color="light" (click)="navBack()" >
      <ion-icon name="chevron-back-outline"/>
    </ion-button>

    <ion-button slot="start" color="light" router-direction="root" expand="block" (click)="click(activity())" >Add</ion-button>
    <ion-button color="light" expand="block" [routerLink]="'/app/tabs/current'" >Goto Session</ion-button>

    <ion-button slot="end" router-direction="forward" color="light" (click)="navForward()" >
      <ion-icon name="chevron-forward-outline"/>
    </ion-button>
  </ion-toolbar>
  }
</ion-footer>
