<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Current Session</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/view']" [queryParams]="{id: link()}">
        <ion-icon slot="icon-only" name="share"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <!--Summary-->
  <div class="flex items-center justify-center flex-col">
    <mat-chip-listbox (change)="chipChange($event)" aria-label="select a shirt size">
      <mat-chip-option> Chest day </mat-chip-option>
      <mat-chip-option> Back day </mat-chip-option>
      <mat-chip-option> Shoulders </mat-chip-option>
    </mat-chip-listbox>
    <mat-chip-listbox (change)="chipChange($event)" aria-label="select a shirt size">
      <mat-chip-option> Push </mat-chip-option>
      <mat-chip-option> Pull </mat-chip-option>
      <mat-chip-option> Legs </mat-chip-option>
    </mat-chip-listbox>
    <app-daily-summary [session]="service.appState.current"/>
    <div class="flex">
      @if (service.appState.current?.activities?.length??0>0){
        <button matButton="elevated" (click)="new()">New Session</button>
      } @else{
        No activity started
      }
    </div>
  </div>


<!--  <ion-list #scheduleList [hidden]="!service.appState.current">-->
<!--    @for (activity of service.appState.current?.activities; track $index) {-->
<!--      @let ix= $index;-->
<!--      <ion-item-group>-->
<!--        <ion-item-divider sticky>-->
<!--          <ion-label> {{activity.exercise.name}} </ion-label>-->
<!--        </ion-item-divider>-->
<!--        <ion-item-sliding #slidingItem>-->
<!--          <ion-item [routerLink]="['/session']" [queryParams]="{id: ix}">-->
<!--            <ion-label>-->
<!--              @for (set of activity.sets; track set) {-->
<!--                <span>{{set.reps}} x {{set.size}}kg</span>-->
<!--              }-->
<!--            </ion-label>-->
<!--          </ion-item>-->

<!--          <ion-item-options>-->
<!--            <ion-item-option color="danger">-->
<!--              Remove-->
<!--            </ion-item-option>-->
<!--          </ion-item-options>-->

<!--        </ion-item-sliding>-->
<!--      </ion-item-group>-->

<!--    }-->
<!--  </ion-list>-->


</ion-content>
